## Data Exploration

In [195]:
import numpy as np 
import pandas as pd
import json  # Import the json module
from pandas import json_normalize
from sklearn.model_selection import train_test_split

## Leser inn data

In [196]:
df_hospital=pd.read_csv('raw_data/hospital.csv')
df_hospital.head()

   pasient_id  sykehusdød  oppholdslengde
0           2           1               4
1           3           0              17
2           4           0               3
3           5           0             -99
4           6           1               4

In [197]:
df_demographic=pd.read_csv('raw_data/demographic.csv')
df_demographic.head()

   pasient_id     alder   kjønn  utdanning     inntekt etnisitet
0           2  60.33899  female       12.0    $11-$25k     white
1           3  52.74698  female       12.0  under $11k     white
2           4  42.38498  female       11.0  under $11k     white
3           5  79.88495  female        NaN         NaN     white
4           6  93.01599    male       14.0         NaN     white

In [198]:
df_physiological=pd.read_table('raw_data/physiological.txt')
df_physiological.head()

,pasient_id,blodtrykk,hvite_blodlegemer,hjertefrekvens,respirasjonsfrekvens,kroppstemperatur,lungefunksjon,serumalbumin,bilirubin,kreatinin,natrium,blod_ph,glukose,blodurea_nitrogen,urinmengde
0,2,43.0,17.097656,112.0,34.0,34.59375,98.00000,NaN,NaN,5.500000,132.0,7.250000,NaN,NaN,NaN
1,3,70.0,8.500000,88.0,28.0,37.39844,231.65625,NaN,2.199707,2.000000,134.0,7.459961,NaN,NaN,NaN
2,4,75.0,9.099609,88.0,32.0,35.00000,NaN,NaN,NaN,0.799927,139.0,NaN,NaN,NaN,NaN
3,5,59.0,13.500000,112.0,20.0,37.89844,173.31250,NaN,NaN,0.799927,143.0,7.509766,NaN,NaN,NaN
4,6,110.0,10.398438,101.0,44.0,38.39844,266.62500,NaN,NaN,0.699951,140.0,7.659180,NaN,NaN,NaN

In [199]:
json_df=pd.read_json('raw_data/severity.json')
#json_df.head()

## Optimalisere Json fil

In [201]:
#resonnomant
#explode ikke sykdomskategori-id, har ikke lister har kun et element. Likt som sykdomskategori,
#tar med de kun med liste og de som er viktige
#Optimaliserer, kan da slåes sammen med andre kategoriene.

In [215]:
df_severity=json_df.iloc[:,0:-1].explode(list(json_df.columns[2:-1]))
df_severity.reset_index(drop=True,inplace=True)
df_severity=df_severity.sort_values(by=['pasient_id'], ignore_index=True)

#df_severity

In [213]:
#slår sammen og står med endelige dataFramen med alle data som vi vil jobbe etter. 
df=df_demographic.merge(df_hospital,on='pasient_id',how='outer')\
    .merge(df_physiological,on='pasient_id',how='outer')\
    .merge(df_severity,on='pasient_id',how='outer')
#df

In [214]:
#fjerne der opphold er ugyldig, aka minus. 
df = df.loc[df['oppholdslengde'] >= 0].reset_index(drop=True)
df

,pasient_id,alder,kjønn,utdanning,inntekt,etnisitet,sykehusdød,oppholdslengde,blodtrykk,hvite_blodlegemer,...,fysiologisk_score,apache_fysiologisk_score,overlevelsesestimat_2mnd,overlevelsesestimat_6mnd,diabetes,demens,kreft,lege_overlevelsesestimat_2mnd,lege_overlevelsesestimat_6mnd,dnr_status
0,2,60.33899,female,12.0,$11-$25k,white,1,4,43.0,17.097656,...,52.695312,74.0,0.001,0.0,0,0,no,0.0,0.0,None
1,3,52.74698,female,12.0,under $11k,white,0,17,70.0,8.500000,...,20.5,45.0,0.790894,0.664917,0,0,no,0.75,0.5,None
2,4,42.38498,female,11.0,under $11k,white,0,3,75.0,9.099609,...,20.097656,19.0,0.698975,0.411987,0,0,metastatic,0.9,0.5,None
3,4,42.38498,female,11.0,under $11k,white,0,3,75.0,9.099609,...,20.097656,19.0,0.698975,0.411987,0,0,metastatic,0.9,0.5,None
4,6,93.01599,male,14.0,NaN,white,1,4,110.0,10.398438,...,19.398438,27.0,0.284973,0.214996,0,0,no,0.0,0.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7731,9101,66.07300,male,8.0,NaN,white,0,23,109.0,7.399414,...,16.296875,22.0,0.852905,0.80188,0,0,no,0.8,0.512,None
7732,9102,55.15399,female,11.0,NaN,white,0,29,43.0,NaN,...,25.796875,31.0,0.553955,0.485962,0,0,no,0.5,0.5,None
7733,9103,70.38196,male,NaN,NaN,white,0,8,111.0,8.398438,...,22.699219,39.0,0.741943,0.660889,0,0,no,0.9,0.8,None
7734,9104,47.01999,male,13.0,NaN,white,1,7,99.0,7.599609,...,40.195312,51.0,0.177979,0.091995,0,0,yes,0.09,0.09,None
7735,9105,81.53894,female,8.0,$11-$25k,white,0,12,75.0,8.599609,...,18.097656,7.0,0.832886,0.776978,1,0,no,None,None,None

In [205]:
#fjerne duplikater
df.drop_duplicates(subset=['pasient_id']).reset_index(drop=True)

,pasient_id,alder,kjønn,utdanning,inntekt,etnisitet,sykehusdød,oppholdslengde,blodtrykk,hvite_blodlegemer,...,fysiologisk_score,apache_fysiologisk_score,overlevelsesestimat_2mnd,overlevelsesestimat_6mnd,diabetes,demens,kreft,lege_overlevelsesestimat_2mnd,lege_overlevelsesestimat_6mnd,dnr_status
0,2,60.33899,female,12.0,$11-$25k,white,1,4,43.0,17.097656,...,52.695312,74.0,0.001,0.0,0,0,no,0.0,0.0,None
1,3,52.74698,female,12.0,under $11k,white,0,17,70.0,8.500000,...,20.5,45.0,0.790894,0.664917,0,0,no,0.75,0.5,None
2,4,42.38498,female,11.0,under $11k,white,0,3,75.0,9.099609,...,20.097656,19.0,0.698975,0.411987,0,0,metastatic,0.9,0.5,None
3,6,93.01599,male,14.0,NaN,white,1,4,110.0,10.398438,...,19.398438,27.0,0.284973,0.214996,0,0,no,0.0,0.0,None
4,7,62.37097,male,14.0,$25-$50k,white,0,9,78.0,11.699219,...,17.296875,46.0,0.892944,0.820923,0,0,no,None,0.7,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7729,9101,66.07300,male,8.0,NaN,white,0,23,109.0,7.399414,...,16.296875,22.0,0.852905,0.80188,0,0,no,0.8,0.512,None
7730,9102,55.15399,female,11.0,NaN,white,0,29,43.0,NaN,...,25.796875,31.0,0.553955,0.485962,0,0,no,0.5,0.5,None
7731,9103,70.38196,male,NaN,NaN,white,0,8,111.0,8.398438,...,22.699219,39.0,0.741943,0.660889,0,0,no,0.9,0.8,None
7732,9104,47.01999,male,13.0,NaN,white,1,7,99.0,7.599609,...,40.195312,51.0,0.177979,0.091995,0,0,yes,0.09,0.09,None
7733,9105,81.53894,female,8.0,$11-$25k,white,0,12,75.0,8.599609,...,18.097656,7.0,0.832886,0.776978,1,0,no,None,None,None

In [206]:
#splitter datasettet i 70% treningsdata, 15% validering, 15% validering. 
# Først deler vi 70% for trening og 30% for resten
train_df, rest_df = train_test_split(df, test_size=0.30, random_state=42)

# Deretter deler vi 30% restsettet i to like deler (15% validering og 15% test)
val_df, test_df = train_test_split(rest_df, test_size=0.50, random_state=42)

train_df
#val_df
#test_df

,pasient_id,alder,kjønn,utdanning,inntekt,etnisitet,sykehusdød,oppholdslengde,blodtrykk,hvite_blodlegemer,...,fysiologisk_score,apache_fysiologisk_score,overlevelsesestimat_2mnd,overlevelsesestimat_6mnd,diabetes,demens,kreft,lege_overlevelsesestimat_2mnd,lege_overlevelsesestimat_6mnd,dnr_status
5513,6479,78.88599,female,7.0,under $11k,white,0,44,115.0,13.199219,...,25.0,37.0,0.512939,0.395996,1,0,no,0.6,0.25,None
5118,6017,56.85397,female,10.0,$11-$25k,white,0,15,131.0,12.699219,...,24.796875,49.0,0.822998,0.762939,1,0,no,1.0,0.95,None
7259,8555,65.99298,female,NaN,NaN,white,0,30,98.0,4.199219,...,30.199219,42.0,0.594971,0.485962,1,0,no,0.7,0.6,None
3680,4317,67.24695,male,6.0,$11-$25k,black,0,10,59.0,24.699219,...,20.0,18.0,0.839966,0.784912,0,0,no,0.8,0.8,None
5992,7052,68.36694,male,NaN,NaN,white,1,4,105.0,6.500000,...,23.199219,45.0,0.437988,0.237,1,0,metastatic,None,None,dnr ved innleggelse
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5226,6144,77.20496,male,9.0,under $11k,white,0,15,101.0,5.000000,...,26.0,33.0,0.491943,0.373962,0,1,metastatic,0.7,0.5,None
5390,6339,83.76996,female,5.0,under $11k,black,0,19,125.0,12.898438,...,16.796875,35.0,0.483948,0.411987,0,1,no,0.5,0.2,dnr ved innleggelse
860,997,57.34698,male,12.0,$11-$25k,hispanic,0,16,55.0,14.398438,...,30.5,54.0,0.731934,0.648926,1,0,no,0.6,0.6,None
7603,8957,65.33600,male,10.0,under $11k,white,1,4,115.0,19.500000,...,46.0,94.0,0.003,0.0,1,0,yes,0.1,0.0,dnr ved innleggelse
7270,8567,77.28998,male,12.0,$11-$25k,white,1,23,61.0,7.399414,...,33.195312,67.0,0.521973,0.405945,0,0,no,0.25,0.25,dnr ved innleggelse

In [211]:
df_under_7_dager=df.loc[df['oppholdslengde']<=7].reset_index(drop=True)
df_under_7_dager

,pasient_id,alder,kjønn,utdanning,inntekt,etnisitet,sykehusdød,oppholdslengde,blodtrykk,hvite_blodlegemer,...,fysiologisk_score,apache_fysiologisk_score,overlevelsesestimat_2mnd,overlevelsesestimat_6mnd,diabetes,demens,kreft,lege_overlevelsesestimat_2mnd,lege_overlevelsesestimat_6mnd,dnr_status
0,2,60.33899,female,12.0,$11-$25k,white,1,4,43.0,17.097656,...,52.695312,74.0,0.001,0.0,0,0,no,0.0,0.0,None
1,4,42.38498,female,11.0,under $11k,white,0,3,75.0,9.099609,...,20.097656,19.0,0.698975,0.411987,0,0,metastatic,0.9,0.5,None
2,4,42.38498,female,11.0,under $11k,white,0,3,75.0,9.099609,...,20.097656,19.0,0.698975,0.411987,0,0,metastatic,0.9,0.5,None
3,6,93.01599,male,14.0,NaN,white,1,4,110.0,10.398438,...,19.398438,27.0,0.284973,0.214996,0,0,no,0.0,0.0,None
4,8,86.83899,male,NaN,NaN,white,0,7,72.0,13.599609,...,21.597656,53.0,0.670898,0.498962,1,0,no,0.8,0.4,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,9089,51.45200,female,12.0,$11-$25k,white,0,3,118.0,9.599609,...,13.699219,12.0,0.793945,0.563965,0,0,metastatic,0.99,0.99,None
2540,9096,80.60199,female,8.0,NaN,white,0,6,69.0,23.500000,...,14.898438,33.0,0.869995,0.783936,1,0,no,0.7,0.5,None
2541,9098,64.48499,female,11.0,$11-$25k,white,0,3,64.0,6.199219,...,10.398438,14.0,0.817993,0.60791,1,0,metastatic,0.99,0.99,None
2542,9100,68.61597,female,12.0,under $11k,white,0,4,71.0,12.599609,...,15.298828,19.0,0.865967,0.778931,0,0,yes,None,None,dnr ved innleggelse
2543,9104,47.01999,male,13.0,NaN,white,1,7,99.0,7.599609,...,40.195312,51.0,0.177979,0.091995,0,0,yes,0.09,0.09,None